body,
body.theme-dark
body.theme-light {
  /**
   * Inspired from: https://vscodethemes.com/e/theedgesofben.punk-runner/punk-runner?language=javascript
   * @see https://docs.obsidian.md/Reference/CSS+variables/CSS+variables
   */


  /* Theme colors */
  ---color-1: #050f0e;
  ---color-1-light1: #062621;
  ---color-1-light2: #07443b;
  ---color-1-light3: #3d996b;
  ---color-1-light3-rgb: 61 153 107;
  ---color-1-bright: #12ffbc;
  ---color-1-bright-rgb: 103 245 196;
  
  ---color-2: #ff1342;
  ---color-2-light: #e66c84;
  ---color-2-dark: #52101e;
  
  ---color-3: #eb9b27;
  ---color-3-dark: #896126;
  ---color-3-dark-rgb: 137 97 38;

  ---color-4: #519aba;
  ---color-4-bright-rgb: 36 188 255;
  ---color-4-dark1: #3f6d81;
  ---color-4-dark2: #243d48;

  ---color-5: #a85aa5;
  
  ---color-text-1: #ffffffaa;
  ---color-text-1-muted: #ffffff66;
  ---color-text-1-faint: #ffffff33;
  ---color-text-1-bright: #fff;
  
  /* hsl(---color-2) */
  --accent-h: 348.05;
  --accent-s: 100%;
  --accent-l: 30%;

  /* Surface colors */
  --background-primary: var(---color-1);
  --background-primary-alt: var(---color-1-light1);
  --background-secondary: var(---color-1);
  --background-modifier-hover: var(---color-1-light1);
  --background-modifier-border: var(---color-1-light1);
  --background-modifier-border-hover: var(---color-1-light2);
  --background-modifier-border-focus: var(---color-1-light3);
  --background-modifier-message: var(---color-2);
  --background-modifier-form-field: var(---color-1) !important;

  /* Interactive colors */
  --interactive-normal: var(---color-1-light1) !important;
  --interactive-hover: var(---color-1-light2) !important;
  --interactive-accent: var(---color-2) !important;
  --interactive-accent-hover: var(---color-2-light) !important;

  /* Text foreground colors */
  --text-normal: var(---color-text-1);
  --text-muted: var(---color-text-1-muted);
  --text-faint: var(---color-text-1-faint);

  /* Icons */
  --icon-color: var(---color-1-light3);
  --icon-color-hover: var(---color-1-bright);

  /* Typography */
  --bold-weight: 700;
  --nav-item-color-active: var(---color-1-bright);
  
  /* Buttons */
  --button-radius: 2px;

  /* Checkboxes */
  --checkbox-radius: 2px;
  --checkbox-marker-color: var(---color-1);
  --checkbox-border-color-hover: var(---color-2-light);
  --checklist-done-color: var(---color-text-1-muted);
  --checkbox-border-color: var(---color-2);

  /* Radius */
  --radius-s: 0;
  --radius-m: 2px;
  --radius-l: 4px;
  --radius-xl: 8px;

  /* Dragging */
  --drag-ghost-background: var(---color-1-light2);
  --drag-ghost-text-color: #ffffff99;

  /* Indentation */
  --indentation-guide-color: var(---color-1-light1);
  --indentation-guide-color-active: var(---color-1-light3);

  /* Modal */
  --modal-border-color: var(---color-2);

  /* Multi-select */
  /* @note: Couldn't find these */

  /* Navigation */
  --nav-item-color: var(--text-muted);
  --nav-item-color-hover: var(--text-muted);
  --nav-item-color-active: var(---stopColor);

  /* Prompt */
  --prompt-border-color: var(---color-2);

  /* Slider */
  --slider-track-background: var(---color-2);

  /* Tabs */
  --tab-background-active: var(---color-1-light1);
  --tab-text-color-active: var(--text-normal);
  --tab-text-color-focused-active-current: var(---color-1-bright);
  --tab-curve: 0;
  --tab-radius: 0;
  --tab-radius-active: 0;

  /* Text input */
  --input-radius: 2px;

  
  /* Misc */
  --link-color: var(---color-3);
  --link-unresolved-color: var(---color-2);
  --link-unresolved-opacity: 1;
  --link-unresolved-decoration-color: var(---color-3);
  --link-external-color: var(---color-4);
  --link-external-decoration-color: var(---color-4);


  /**
   * Editor
   */
  /* Blockquote */
  --blockquote-background-color: var(---color-1-light1);
  --blockquote-border-color: var(---color-2);



  /* Window */
  --titlebar-background: var(--background-primary);
  --titlebar-background-focused: var(--background-primary);




  /* Scrollbars */
  --scrollbar-thumb-bg: var(---color-1-light1);
  --scrollbar-active-thumb-bg: var(---color-2);



  /* Status bar */
  --status-bar-background: var(---color-1);
  --status-bar-border-color: var(---color-1-light1);
  --status-bar-text-color: var(---color-1-light3);


  /* Graph */
  --graph-text: var(---text-normal);
  --graph-line: var(---color-1-light2);
  --graph-node: var(---color-1-light3);
  --graph-node-focused: var(---color-2);
  --graph-node-unresolved: var(---color-text-1);
  --graph-node-tag: var(---color-4);
  --graph-node-attachment: var(---color-3);


  /* Markdown */
  --list-marker-color: var(---color-2);
  --hr-color: var(---color-1-light1);
}
::selection {
  background: var(---color-2-dark) !important;
}

/**
 * Custom overrides
 */
*, .cm-content {
  caret-color: var(---color-3) !important;
}
.cm-s-obsidian span.cm-strong, strong {
  color: var(---color-text-1-bright);
}

/* Links */
.cm-underline,
.markdown-rendered a {
  text-decoration-color: var(---color-2);
}

/* Icons */
.view-content .list-collapse-indicator svg.svg-icon, .view-content .collapse-indicator svg.svg-icon {
  color: var(---color-2);
}

 /* Header */
.workspace-tab-header.is-active {
  border-bottom: 2px solid var(---color-2);
}

/* Sidebar */
.mod-root > .nav-folder-title .nav-folder-title-content {
  color: var(---color-3) !important;
}
.nav-file-title {
  color: var(---color-1-light3) !important;
}
.nav-folder-title {
  color: var(---color-4) !important;
}
.nav-file-title.is-active {
  color: var(---color-1-bright) !important;
}
.nav-file-tag {
  background: var(---color-3-dark) !important;
  color: var(---color-1) !important;
}

/* Headings */
.cm-formatting.cm-header {
  color: var(---color-3);
}
.inline-title {
  font-size: 2.5rem;
  color: var(---color-text-1-bright);
}
h1, h2, h3, h4, h5, h6,
.HyperMD-header {
  color: var(---color-text-1-bright);
}

/* Lists */
.HyperMD-list-line.cm-active .list-bullet:after {
  color: var(---color-3);
  background-color: var(---color-3);
}

/* Tasks */
.HyperMD-task-line.cm-active .task-list-item-checkbox {
  border-color: var(---color-3);
}
.HyperMD-task-line .task-list-item-checkbox:checked {
  background-color: var(---color-1-light2);
  border-color: var(---color-1-light2);
}
.HyperMD-task-line.cm-active .task-list-item-checkbox:checked {
  border-color: var(---color-1-bright)
}

/* Quotes */
.HyperMD-quote .cm-formatting.cm-quote-1.cm-formatting-quote {
  position: relative;
  display: inline-block !important;
  margin-left: calc(-1 * var(--size-4-4));
  color: var(---color-3);
  min-width: var(--size-4-4) !important;
} 
.HyperMD-quote {
  padding-inline-start: 0 !important;
  padding-left: var(--size-4-6) !important;
  text-indent: 0 !important;
}
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-quote + .HyperMD-quote {
  margin-top: calc(-1 * var(--size-4-4)) !important;
  padding-top: 0 !important;
}
.HyperMD-quote-lazy {
  padding-left: var(--size-4-6) !important;
}
.HyperMD-quote, blockquote {
  padding-top: var(--size-4-4) !important;
  padding-bottom: var(--size-4-4) !important;
}

/* Callouts */
.callout {
  --callout-color: var(---color-1-light3-rgb);
  background: var(---color-1-light1);
}

.callout[data-callout^="abstract"] {
  --callout-color: 255 255 255;
  background: var(---color-4-dark1);
}

.callout[data-callout^="success"],
.callout[data-callout^="info"] {
  --callout-color: 255 255 255;
  background: var(---color-1-light2);
}

.callout[data-callout^="todo"],
.callout[data-callout^="question"],
.callout[data-callout^="example"],
.callout[data-callout^="quote"] {
  --callout-color: var(---color-4-bright-rgb);
  --callout-color: 255 255 255;
  background: var(---color-4-dark2);
}

.callout[data-callout^="tip"],
.callout[data-callout^="warning"] {
  --callout-color: 255 255 255;
  background: var(---color-3-dark);
}

.callout[data-callout^="warning"] {
  --callout-color: 255 255 255;
  background: var(---color-3-dark);
}

.callout[data-callout^="failure"] {
  --callout-color: 255 255 255;
  background: var(---color-2-dark);
}

.callout[data-callout^="bug"],
.callout[data-callout^="danger"] {
  --callout-color: 255 255 255;
  background: var(---color-2-dark);
}


/* Code */
.cm-s-obsidian span.cm-inline-code,
.markdown-rendered code {
  color: var(---color-1-bright);
}


/* Mermaid */
.mermaid .node rect {
  fill: var(---color-3) !important;
}
.mermaid span {
  color: var(---color-1) !important;
}

/* Forms */
.search-result-file-matched-text {
  background: var(---color-2-dark);
}