body {
  /**
   * Inspired from: https://vscodethemes.com/e/theedgesofben.punk-runner/punk-runner?language=javascript
   */

  /* Custom */
  ---color-1: #050f0e;
  ---color-1-light1: #062621;
  ---color-1-light2: #07443b;
  ---color-1-light3: #3d996b;
  ---color-1-bright: #12ffbc;
  
  ---color-2: #ff1342;
  ---color-2-light: #e66c84;
  
  ---color-3: #eb9b27;
  ---color-4: #519aba;
  
  ---color-text-1: #ffffffaa;
  ---color-text-1-muted: #ffffff66;
  ---color-text-1-faint: #ffffff33;
  
  
  
  /* Todo */
  ---selectionBackground: var(---color-2);
  ---selectionBackgroundTransparent: #ff1342aa;
  ---borderColor: var(---selectionBackgroundTransparent);
  
  
  /* Old */
  ---accentColor: var(---color-2);
  ---accentColorLessTransparent: #dd2a629A;
  ---accentColorTransparent: #dd2a625A;
  ---accentColorMoreTransparent: #dd2a622A;
  ---accentContrastColor: #19181e;
  ---infoForeground: #bd7e99;
  ---stopColor: #f3c61f;
  ---testScopeColor: #1c2f24;
  ---popupMask: #928d8d05;
  ---codeBlock: #351929;
  ---textEditorBackground: #1e1928;
  ---comments: #bf88a4;
  ---errorColor: #ff2525;
  ---unusedColor: #5c5157;
  ---constantColor: #F9FC88;
  ---classNameColor: #67F5C4;
  ---htmlTagColor: #AC99FC;
  ---stringColor: #FFB4F8;
  ---keyColor: #8C92FC;
  ---keywordColor: #de4371;
  ---iconAccent: #de4371;
  ---iconAccentCompliment: #FFB4F8;
  ---iconBaseBlend: #7e74ff;
  ---iconSecondaryBlend: #a1a9ff;
  ---iconBlendContrast: #F9FC88;
  ---iconBlendCompliment: #F9FC88;
  ---iconDiversification: #67F5C4;
  ---dokiLogoAccent: #9e83ff;
  ---dokiLogoAccentContrast: #503e92;
  ---diff-modified: #1B2B4B;
  ---diff-inserted: #0F2F1D;
  ---diff-conflict: #441919;
  ---diff-deleted: #292231;
  ---lightEditorColor: #261f33;
  ---breakpointColor: #3f3931;
  ---breakpointActiveColor: #254428;
  ---fileBlue: #1c2e4f;
  ---fileGray: #2c2934;
  ---fileRose: #3c1f37;
  ---fileOrange: #432c24;
  ---fileViolet: #2a2146;
  ---fileYellow: #373327;
  ---fileRed: #371a25;
  ---filePurple: #291a3f;



  /**
   * Obsidian Theme
   * @see https://docs.obsidian.md/Reference/CSS+variables/CSS+variables
   */
  /* hsl(---color-3) */
  --accent-h: 341.23;
  --accent-s: 72.47%;
  --accent-l: 51.57%;

  /* Extended colors */
  --color-red: green;
  --color-orange: green;
  --color-yellow: green;
  --color-green: green;
  --color-cyan: green;
  --color-blue: green;
  --color-purple: green;
  --color-pink: green;
  --color-red-rgb: green;
  --color-orange-rgb: green;
  --color-yellow-rgb: green;
  --color-green-rgb: green;
  --color-cyan-rgb: green;
  --color-blue-rgb: green;
  --color-purple-rgb: green;
  --color-pink-rgb: green;

  /* Surface colors */
  --background-primary: var(---color-1);
  --background-primary-alt: var(---color-1-light1);
  --background-secondary: var(---color-1);
  --background-modifier-hover: var(---color-1-light1);
  --background-modifier-border: var(---color-1-light1);
  --background-modifier-border-hover: var(---color-1-light2);
  --background-modifier-border-focus: var(---color-1-light3);
  --background-modifier-message: var(---color-2);
  --background-modifier-form-field: var(---color-1) !important;

  /* Interactive colors */
  --interactive-normal: var(---color-1-light1) !important;
  --interactive-hover: var(---color-1-light2) !important;
  --interactive-accent: var(---color-2) !important;
  --interactive-accent-hover: var(---color-2-light) !important;

  /* Text foreground colors */
  --text-normal: var(---color-text-1);
  --text-muted: var(---color-text-1-muted);
  --text-faint: var(---color-text-1-faint);

  /* Icons */
  --icon-color: var(---color-1-light3);
  --icon-color-hover: var(---color-1-bright);

  /* Typography */
  --bold-weight: 700;

  /* Buttons */
  --button-radius: 2px;

  /* Checkboxes */
  --checkbox-radius: 2px;
  --checkbox-marker-color: var(---color-1);
  --checkbox-border-color-hover: var(---color-2-light);
  --checklist-done-color: var(---color-text-1-muted);

  /* Radius */
  --radius-s: 0;
  --radius-m: 2px;
  --radius-l: 4px;
  --radius-xl: 8px;

  /* Dragging */
  --drag-ghost-background: var(---color-1-light2);
  --drag-ghost-text-color: #ffffff99;

  /* Indentation */
  --indentation-guide-color: var(---color-1-light1);
  --indentation-guide-color-active: var(---color-1-light3);

  /* Modal */
  --modal-border-color: var(---color-2);

  /* Multi-select */
  /* @note: Couldn't find these */

  /* Navigation */
  --nav-item-color: var(--text-muted);
  --nav-item-color-hover: var(--text-muted);
  --nav-item-color-active: var(---stopColor);

  /* Prompt */
  --prompt-border-color: var(---color-2);

  /* Slider */
  --slider-track-background: var(---color-2);

  /* Tabs */
  --tab-background-active: var(---color-1-light1);
  --tab-text-color-active: var(--text-normal);
  --tab-text-color-focused-active-current: var(---color-1-bright);
  --tab-curve: 0;
  --tab-radius: 0;
  --tab-radius-active: 0;

  /* Text input */
  --input-radius: 2px;

  
  /* Misc */
  --link-color: var(---color-3);
  --link-unresolved-color: var(---color-2);
  --link-unresolved-opacity: 1;
  --link-unresolved-decoration-color: var(---color-3);
  --link-external-color: var(---color-4);
  --link-external-decoration-color: var(---color-4);


  /**
   * Editor
   */
  /* Blockquote */
  --blockquote-background-color: var(---color-1-light1);
  --blockquote-border-color: var(---color-2);

  /* Callouts */
  /* These have to be rgba */
  /* 
  --callout-default: red;
  --callout-bug: red;
  --callout-error: red;
  --callout-example: red;
  --callout-fail: red;
  --callout-important: red;
  --callout-info: red;
  --callout-question: red;
  --callout-success: red;
  --callout-summary: red;
  --callout-tip: red;
  --callout-todo: red;
  --callout-warning: red;
  --callout-quote: red;
 */
  



  /* Window */
  --titlebar-background: var(--background-primary);
  --titlebar-background-focused: var(--background-primary);




  /* Scrollbars */
  --scrollbar-thumb-bg: var(---color-1-light1);
  --scrollbar-active-thumb-bg: var(---color-2);



  /* Status bar */
  --status-bar-background: var(---color-1);
  --status-bar-border-color: var(---color-1-light1);
  --status-bar-text-color: var(---color-1-light3);


  /* Graph */
  --graph-text: var(---text-normal);
  --graph-line: var(---color-1-light3);
  --graph-node: var(---color-2);
  --graph-node-focused: var(---text-normal);
  --graph-node-unresolved: var(---dokiLogoAccent);
  --graph-node-tag: var(---color-3);
  --graph-node-attachment: var(---stopColor);


  /* Markdown */
  --list-marker-color: var(---color-2);
  --checkbox-border-color: var(---color-2);
  --hr-color: var(---iconDiversification);
}


/**
 * Custom overrides
 */
*, .cm-content {
  caret-color: var(---color-3) !important;
}
.cm-s-obsidian span.cm-strong, strong {
  color: var(---iconDiversification);
}

/* Links */
.cm-underline,
.markdown-rendered a {
  text-decoration-color: var(---color-2);
}

/* Icons */
.view-content .list-collapse-indicator svg.svg-icon, .view-content .collapse-indicator svg.svg-icon {
  color: var(---color-2);
}

 /* Header */
.workspace-tab-header.is-active {
  border-bottom: 2px solid var(---color-2);
}

/* Headings */
.cm-formatting.cm-header {
  color: var(---color-3);
}
.inline-title {
  font-size: 2.5rem;
}

/* Lists */
.HyperMD-list-line.cm-active .list-bullet:after {
  color: var(---color-3);
  background-color: var(---color-3);
}

/* Tasks */
.HyperMD-task-line.cm-active .task-list-item-checkbox {
  border-color: var(---color-3);
}
.HyperMD-task-line.cm-active .task-list-item-checkbox:checked {
  background-color: var(---color-3)
}

/* Quotes */
.HyperMD-quote .cm-formatting.cm-quote-1.cm-formatting-quote {
  position: relative;
  display: inline-block !important;
  margin-left: calc(-1 * var(--size-4-4));
  color: var(---color-3);
  min-width: var(--size-4-4) !important;
} 
.HyperMD-quote {
  padding-inline-start: 0 !important;
  padding-left: var(--size-4-6) !important;
  text-indent: 0 !important;
}
.markdown-source-view.mod-cm6 .cm-content > .HyperMD-quote + .HyperMD-quote {
  margin-top: calc(-1 * var(--size-4-4)) !important;
  padding-top: 0 !important;
}
.HyperMD-quote-lazy {
  padding-left: var(--size-4-6) !important;
}
.HyperMD-quote, blockquote {
  padding-top: var(--size-4-4) !important;
  padding-bottom: var(--size-4-4) !important;
}

/* Callouts */
.callout[data-callout^="tip"] {
  --callout-color: 103 245 196;
  background: rgba(103, 245, 196, .2) !important;
}

/* Code */
.cm-s-obsidian span.cm-inline-code,
.markdown-rendered code {
  color: var(---classNameColor);
}


/* Mermaid */
.mermaid .node rect {
  fill: var(---color-3) !important;
}
.mermaid span {
  color: var(---color-1) !important;
}

